
* {
  margin: 0;
  padding:0;
}

.app {
  width: 100%;
  max-width: 350px; 
  margin: 100px auto 0;
  padding: 20px;
  background-color: rgb(19, 19, 98);
  color: #f9f9f9;
}

input {
  width: 95%;
  height: 30px;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(19, 19, 98);
  color: #f9f9f9;
  border: none;
  outline: none;
}

.display {
  font-size: 50px;
  color: #f9f9f9;
  margin: 10px 10px 60px 10px;
  height: 30px;

}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn {
  flex: 1;
  padding: 10px;
  font-size: 45px;
  text-align: center;
  background-color: rgb(19, 19, 98);
  color: #f9f9f9;
  cursor: pointer;
  border: none;
}


@media (max-width: 768px) {
 
  .btn {
    font-size: 30px;
    padding: 10px;
  }
}

